.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.billing {
  position: sticky;
  top: 0;
}
.alert-order {
  display: flex;
  width: 100%;
}
.sumary-box {
  border-bottom: 1px solid #c9c9c9;
}
.item-sumary {
  margin-bottom: 0;
}
.price-box {
  align-items: center;
  display: flex;
}
.price {
  width: 100%;
}
.btn-make-order {
  margin: 15px 0 !important;
}