
.App-logo img {
  max-width: 90%;
}
.App-logo {
  width: 100%;
  pointer-events: none;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-fade 2s ease-in-out;
  }
}

.App-header {
  background-color: #EFEFEF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #222;
  line-height: calc((10px + 2vmin) * 2);
}


@keyframes App-logo-fade {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
